<!DOCTYPE html>
<html>
<body>
<audio crossorigin="anonymous" controls autoplay>
  <source src="{{ .Link }}" type="audio/wav">  
Your browser does not support the audio element.
</audio>
</body>
</html>